<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
{% if current.data.length > 0 %}
<table class="menu-tbl">
	<tr class="menu-tbl-tr">
		<th>Lunch {{current.day}}</th>
		<!--<th>Tomorrow</th>-->
	</tr>
	<tr>
		<td class="menu-list">
		{% for m in current.data.splice(1) %}
			{% if m.food.food_category == "entree" %}
				<div class="menu-item">
					<i class="fa-solid fa-bowl-food"></i><b> {{m.food.name}}</b>
					<br />
					{{m.food.description}}
				</div>
			{% endif %}
		{% endfor %}
		</td>	
	</tr>

</table>
{% else %}
<table class="menu-tbl">
	<tr class="menu-tbl-tr">
		<th>Lunch {{current.day}}</th>
	</tr>
	<tr>
		<td class="menu-list">
		NO LUNCH SERVICE
		</td>	
	</tr>
</table>
{% endif %}	
