<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
{% if current.data.length > 0 %}
<div>SUCCESSS!</div>
{% else %}
<table class="menu-tbl">
	<!--<tr class="menu-tbl-tr">
		<th>Lunch {{current.day}}</th>
	</tr>-->
	<tr>
		<td class="menu-list">
		NO TEAMSNAP DATA
		</td>	
	</tr>
</table>
{% endif %}	
